html {
  height: 100%;
  width: 100%;
}

body{
background: green url("https://bit.ly/3h2VSOf") no-repeat 50% 50%;
  
}


@media only screen and (max-width: 600px){

  body{
    background-color: blue;
    color: white;
  }
  
}